body {
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: "Helvetica", sans-serif;
  color: white;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background: black;
}
